# ==========================
# Maven
# ==========================
target/

# ==========================
# Node / React
# ==========================
node_modules/
dist/
build/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env
.env.*